*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    background-image: url('bg-image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    background: rgba(50, 50, 175, 0.3);
    
}
body::before{
    background-image: url('bg-image.jpg');
    content: "";
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.20;
}

h1{
    color: navy;
    text-align:center;
    text-decoration: underline;
    margin-top: 3%;
    padding-top: 3%;
    position: relative;
    padding-left: 7em;
    margin-right: 15%;
}

.project{
    margin-left: 10%;
    height: 100%;
    width: 80%;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: black;
}
td{
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
table{
    border-radius: 1px solid black;
    border-color: blanchedalmond;
}
/* footer */

footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(175, 165, 165);
    height: 30%;
    padding-top: 9%;

}

   .foot{
    background-color: black;
    width: 50%;
    height: 70%;
    margin-left: 30%;
    display: flex;
    
   
    
   } 
   .foot-ul{
    margin-top: 15%;
    margin-left: 15%;
    padding-top: 5%;
    
   }

.foot-a{
    color: white;
    text-align: left;
}

.foot-a:hover{
    background-color: gold;
    
    padding-left: 10px;
    color: black;

}
.footerp{
    color: white;
    padding-top: 3%;
    margin-top: 1%;
    margin-left: 5%;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    position: relative;
    width: 100%;
    
    
}